{% extends "layout.html" %} {% block title %} Homepage {% endblock %}
//////////////////////////////////////////////////////////// {% block content %}
<div class="home_box">
  <div class="home_left">
    <h3>Najot Tali N_29 Guruhi</h3>
    <p>Bu sayt orqali siz bizning guruh haqida malumot olishingiz mumkin</p>
    <a class="bt" href="/themes">Lessons</a>
    <a class="bt" href="/pupils">Pupils</a>
    <a class="bt" href="{% url 'add' %}">New Lesson</a>
    <a class="bt" href="{% url 'add_pupil' %}">New Pupil</a>
  </div>
  <div class="home_right"></div>
</div>
{% endblock %}
